.container {
  background-color: #eee;
}

.card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  background: #f9f9f9;
  color: #000;
  width: 63px;
  height: 88px;
}

.field .card + .card,
.hand .card + .card,
.stock + .stock {
  margin-left: 1em;
}

.stock {
  display: inline-block;
}

.stock .sheep + .sheep {
  margin-left: -53px;
}
