.container {
  background-color: #eee;
}

.sheep {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  background: #f9f9f9;
  color: #000;
  width: 63px;
  height: 88px;
}

.field .sheep + .sheep {
  margin-left: 1em;
}
