.container dt:not(:first-child) {
  margin-top: 1ex;
}

.card {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #000;
  width: 63px;
  height: 88px;
}

.sparse .card:hover {
  border: 2px solid rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.sheep.card {
  background: #f0f9f9;
}

.event.card {
  background: #f9f9f0;
}

.field .card + .card,
.hand .card + .card,
.pile + .pile {
  margin-left: 1em;
}

.pile {
  display: inline-block;
}

.pile .card + .card {
  margin-left: -53px;
}
